<h1>about</h1>
<p>
	<%= link_to "one month rails", "http://onemonthrails.com" %>
	is a project to teach ruby on rails in one month. this is a sample application
	</p>
<p>
<ul class="thumbnails">
  <li class="span4">
    <div class="thumbnail">
      <img data-src="http://img.gawkerassets.com/img/17newx501h7yzjpg/original.jpg" alt="">
      <h3>Thumbnail label</h3>
      <p>This is the coolest thing I've ever done. In 2 hours I've gotten more value than I have spending four years in college.</p>
    </div>
    <div class="thumbnail">
      <img data-src="http://img.gawkerassets.com/img/17newx501h7yzjpg/original.jpg" alt="">
      <h3>Thumbnail label</h3>
      <p>This is the coolest thing I've ever done. In 2 hours I've gotten more value than I have spending four years in college.</p>
    </div>
  </li>
  ...
</ul>
</p>

