		<div class="hero-unit">

		<h1>This is dope!</h1>
		<p>
			Hell yeah ashwinn is working on this, check out
			<%= link_to "one month rails", "http://onemonthrails.com" %>
			application
		</p>
		<p>
			<%= link_to "sign up now!", "#", class: "btn btn-primary btn-large" %>
		</p>

		</div>

	

